* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: black;
    font-family: 'Roboto Slab', serif, Helvetica;
    color: #fff;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
    font-weight: bold;
    /* color: #232323; */
    padding-top: 10px;
    border-radius: 10px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* .top-left-light {
    position: absolute;
    top: 0;
    z-index: 9999;
    background:
        radial-gradient(circle at top left, #ffffff69 0%, #000000 30%);
    width: 100%;
    height: 600px;
} */

/***** header *****/
/* header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #191b1f83;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} */

header .navbar-brand,
header .navbar-brand:hover {
    color: white;

}

header .nav-link {
    color: gray;
    transition: color 1s ease, text-decoration 5s ease;

}

/* Active state */
header .nav-link.router-link-exact-active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: color 1s ease, text-decoration 5s ease;
}

header .nav-link:hover {
    color: white;
}


/***** End header *****/


/***** banner  *****/
.banner{
    height: 100vh;
}
.banner-SocialAccount {
    position: absolute;
    left: 0rem;
    flex-direction: column;
    z-index: 999;
}

.banner-SocialAccount a i {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: white;
    border-radius: 100px;
}

.banner-SocialAccount a i:hover {
    background-color: white;
    color: black !important;
    width: 40px;
    height: 40px;
    transition: 0.8;
}

.blob {
    position: absolute;
    z-index: 0;
    bottom: -5%;
    left: 10%;
    border-radius: 65% 35% 31% 69% / 48% 39% 61% 52%;
    width: 600px;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.501);
}

.left-side-info{
    left: 5%;
}

.image-containers {
    /* position: relative; */
    top: -5%;
    /* left: 0; */
    width: 650px;
    /* height: 800px; */
    overflow: hidden;
    text-align: center;
}

.image-containers::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to left,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 0) 60%),
        linear-gradient(to top,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 0) 60%);
    /* linear-gradient(to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 10%),
    linear-gradient(to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 10%),
    radial-gradient(circle at center,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 100%); */
    z-index: 1;
}

.image-containers img {
    width: 100%;
    height: 100%;
    filter: contrast(100%);
}

.CodeDesign {
    line-height: 3rem;
    color: #7d7d7d !important;
    opacity: 50%;
    font-family: cursive;
    font-style: italic;
    text-shadow: rgba(255, 255, 255, 0.14);
}

.MyNameInfo {
    line-height: 3rem;
    font-size: 3.5rem;
    opacity: 100%;
    font-family: sans-serif;
    font-weight: 800;
}

@media (max-width: 768px) {
    .banner {
        position: relative;
        overflow: hidden;
    }

    .banner-SocialAccount{
        
    }

    .image-containers {
        top: -10%;
        left: -40%;
    }

    /* .image-containers img {
        top: -5%;
        left: 10%;
    } */


    .left-side-info {
        position: relative;
        top: 45%;
        left: 0rem !important;
        /* height: 558px; */
        /* width: 30px; */
        z-index: 2;
    }


    .CodeDesign {
        padding-top: 0.2rem;
        line-height: 1.5rem;
    }

    .MyNameInfo {
        line-height: 2rem;
        font-size: 3rem;
    }

}

@media (max-width: 480px) {

    .banner {
        position: relative;
        overflow: hidden;
        height: 600px;
    }

    .banner-SocialAccount{
        top: 5%;
        left: 3%;
    }

    .image-containers {
        top: -10%;
        left: -40%;
    }

    /* .image-containers img {
        top: -5%;
        left: 10%;
    } */


    .left-side-info {
        position: relative;
        top: 30%;
        left: -2rem !important;
    }

    .CodeDesign {
        padding-top: 0.2rem;
        line-height: 1.5rem;
    }

    .MyNameInfo {
        line-height: 1rem;
        font-size: 2rem;
    }


}

/***** End banner  *****/


/***** footer *****/
.footer {
    /* background-color: #1C1E2A; */
    color: white;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

/***** End footer *****/



/***** Section Project card *****/
.project .card {
    background-color: #191B1F;
}

.project .card-body .card-2-color {

    background-color: #1C1E2A;
    border-radius: 10px;

}

.fa-arrow-right {
    /* margin-left: -80px; */
    animation: moveLeftToRight 1s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(15%);
    }

    50% {
        transform: translateX(-15%);
    }

    100% {
        transform: translateX(15%);
    }
}

/***** End Section Project card *****/

/***** contact us *****/
.form-label {
    color: white;
}

.contact-us-btn,
.contact-us-btn:hover {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4.9px);
    backdrop-filter: blur(4.9px);
    color: white;
    border: none;
}

/***** End contact us *****/

.ExploreSection {
    background-color: #191B1F;
}

.not-found {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.not-found h1 {
    font-size: 3rem;
    color: #e74c3c;
}

.not-found p {
    font-size: 1.2rem;
    color: #555;
}